/* Everything */

body {
  font-family: 'Lato', sans-serif;
}

/* Main Container */

.main-container {
  padding-left: 0;
  padding-right: 0;
}

/* Header CSS */

.guruHeader {
  text-align: center;
  color: white;
  padding-bottom: 100px;
  background-image: url('../images/web-hero-1.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.guruHeader .intro-title {
  padding-top: 100px;
  font-weight: 800;
  padding-bottom: 40px;
  font-size: 4em;
  letter-spacing: .1em;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}

.guruHeader .intro-description {
  padding-bottom: 60px;
  font-weight: 600;
  font-size: 2em;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}

.join-btn {
  font-weight: 800;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
  0 1px 5px 0 rgba(0, 0, 0, 0.12), 
  0 3px 1px -2px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Section CSS */

.column-with-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 65px 50px 65px 50px;
}

.section-header {
  font-size: 2.3em;
  padding-bottom: 6px;
}

.section-info {
  font-size: 1.3em;
}

.divider {
  border-bottom-color: #41CFE7;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

#section4 {
  padding-bottom: 100px;
}
